* {
    margin: 0px; 
    padding: 0px; 
   }
body {
   font-size: 120%;
   background: #F8F8FF;
}
.header {
   width: 40%;
   margin: 0px auto 0px;
   color: white;
   background: #5F9EA0;
   text-align: center;
   border: 1px solid #B0C4DE;
   border-bottom: none;
   border-radius: 10px 10px 0px 0px;
   padding: 20px;
}
form, .content {
   width: 40%;
   margin: 0px auto;
   padding: 20px;
   border: 1px solid #B0C4DE;
   background: white;
   border-radius: 0px 0px 10px 10px;
}
.input-group {
   margin: 10px 0px 10px 0px;
}
.input-group label {
   display: block;
   text-align: left;
   margin: 3px;
}
.input-group input {
   height: 30px;
   width: 93%;
   padding: 5px 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid gray;
}

.error {
   width: 92%; 
   margin: 0px auto; 
   padding: 10px; 
   border: 1px solid #a94442; 
   color: #a94442; 
   background: #f2dede; 
   border-radius: 5px; 
   text-align: left;
}






#phd{
   display: block;
   text-align: left;
   margin: 3px;

}
#pc{
   height: 40px;
   width: 35%;
   padding: 5px 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid gray;

}

#pn{
   height: 30px;
   width: 55%;
   padding: 5px 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid gray;

}
#ge{
   height: 40px;
   width: 93%;
   padding: 5px 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid gray;
}
#ge1{
   display: block;
   text-align: left;
   margin: 3px;

}


 
 
 #ap1{
     background-color: #4CAF50;
     text-align: center;
     border-radius: 15px;
     width: 150px;
     height: 40px;
     font-size: 20px;
   
 }
 #ap2{
     background-color: crimson;
     text-align: center;
     border-radius: 15px;
     width: 150px;
     height: 40px;
     font-size: 20px;
 }
 #apu{
     padding-left: 20%;
 }
 .main{
   background-image: url('../images/bg.jpg');
   background-repeat: repeat-x;
   animation: slideleft 20000s infinite linear;
   -webkit-animation: slideleft 20000s infinite linear;
   background-size: cover;
   -webkit-background-size:cover;
   -moz-background-size:cover; 
   background-attachment: fixed;
   position: relative;
   min-height: 100vh;
}
.mai{
   background-image: url('../images/urb.jpg');
   background-repeat: repeat-x;
   animation: slideleft 20000s infinite linear;
   -webkit-animation: slideleft 20000s infinite linear;
   background-size: cover;
   -webkit-background-size:cover;
   -moz-background-size:cover; 
   background-attachment: fixed;
   position: relative;
   min-height: 100vh;
}
