<!--DOCTYPE html>
<html>
<head>
	<title>Regestion</title>
</head>
<body>
	{% if error1 %}
    <p style=" color: red;">
    Please enter same password.</p>
    {% endif %}
	<form action="regestion" method="post">
		{% csrf_token %}
		Name--<input type="text" name="name"><br><br>
		Father's name---<input type="text" name="fname"><br><br>
		Address---<input type="text" name="address"><br><br>
		E_mail---<input type="e_mail" name="e_mail"><br><br>
		Phone Number--<input type="text" name="phone"><br><br>
		Type password<input type="password" name="password"><br><br>
		Retype password<input type="password" name="password1"><br><br>
		<input type="submit" value ="submit">
	</form>

</body>
</html-->
<!DOCTYPE html>
<html>
<head>
	<title>Admin Registration Page</title>
	{% load static %}
	<link rel='stylesheet' href="{% static "css/admin_style.css" %} ">
	
</head>
<body>
	{% if error1 %}
    <p style=" color: red;">
    Please enter same password.</p>
	{% endif %}
	<div class="main">

    <div class="header">
	<h2>Form</h2>
	</div>
	<br>
	<div >
<FORM ACTION="re1" method = "POST" >
		{% csrf_token %}
	
	<div  class="input-group">
	 <lable>Band Name:-</lable>
		<INPUT type="text" name="b_name" placeholder="Enter your band name" required>
	</div>

	
	
	<div class="input-group">
			<label>Location of band:-</label>
			<INPUT TYPE="text" name="l_band" placeholder="Enter location of band"  required>
		</div>
		<div class="input-group">
			<label>Contact no:-</label>
			<INPUT TYPE="number" name="contact" placeholder="Enter Contact"  required>
		</div>
		<div class="input-group">
			<label>Number of member:-</label>
			<INPUT TYPE="number" name="num_mem" placeholder=" Enter number of member"  required>
		</div>
		<div class="input-group">
			<label>Name of Band members-:-</label>
			<INPUT TYPE="text" name="num_band_mem" placeholder="Enter name of band members"  required>
		</div>
		<div class="input-group">
			<label>Establishment date of the band:-</label>
			<INPUT TYPE="date" name="establi_date" placeholder="Enter establish date"  required>
		</div>
		<div class="input-group">
			<label>Link of social medias:-</label>
			<INPUT TYPE="text" name="link_social" placeholder="Enter link of social medias" required>
		</div>
		<div class="input-group">
			<label>Group photo of the band:-</label>
			<INPUT TYPE="file" name="group_ph" placeholder="Upload photo"  required>
		</div>
	<div class="input-group">
		<label>Description:-</label>
		<input type="textarea" name="des" placeholder="Enter description your band" required>
	</div>	
	<div class="input-group">	
		<label>Enter the Capture:-</label>
		<input type="number" name="ca"  required style="width: 190px;">
		<input type="text" name="ca1" value="{{ us }}" onCopy="return false" style="width: 80px; border: none; text-decoration: line-through;">
	</div>
	<div class="input-group">	
	
		
	</div>
	<div>
		<input type="checkbox">
		<label>
			I Accept to the Terms & Conditions</label>
	</div
	<br><br>
	<div id="apu"><table><tr><th><input type="submit" value="Register" id="ap1"></th>
	<th><input type="reset"  VALUE="Reset" id="ap2"></th></tr></table></div><br>
	<div><a href=""></a> <a href="log"> Alredy register.Log in?</a></div>
	
	
</div>

</div>

</form>
</body>
</html>